/* body {
    font-family: verdana;
    font-size: 1em;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(83, 204, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(0, 151, 216);
} */

body {
    font-family: verdana;
    text-align: center;
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels {
    font-size: 3em;
}